.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.pollCard {
  text-align: left;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Source Sans Pro" !important;
  font-weight: 700;
}

button {
  margin-right: 10px;
}

h1 {
  text-align: left;
  margin: 20px;
}
.pollTitle {
  font-size: 25px;
}
.pollDesc {
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  margin: 10px 0px 10px 0px;
}

.option {
  margin-left: 20px;
}

.optionTitle {
  font-size: 20px;
  margin-left: 20px;
  font-family: "Source Sans Pro";
  font-weight: 600;
}

.createEdit {
  float: right;
}

.pollForm {
  text-align: left;
}

.removeOptionButton {
  margin: 0px;
}
